html, body{
  width: 100%;
  height: 100%;
  position: relative;
  font-family: monospace, sans-serif;
}

body{
 margin: 0;
}

.container > div {
  border: 1px dashed #888;
}
/* GRID CSS */
.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "header header header"
  "left main right"
  "footer footer footer";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 3fr 2fr;
}
.container > div {
  border: 1px dashed #888;
}

.header {
  grid-area: header;
}
.left {
  grid-area: left;
}
.main {
  grid-area: main;
}
.right {
  grid-area: right;
  position: relative;
  overflow: hidden;
}
.right .listbox_cnt{
  width: 1100px;
  position: absolute;
  top: 0;
  left: 0;
}
.footer {
  grid-area: footer;
  text-align: center;
  overflow-y: auto;
}

list-box{
  margin: 10px;
}

.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:5px;
  border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
  opacity: .9;
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
}

.tooltip .title {
  font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}
