html, body{
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: white; /* Light theme */
  color:black; /* Light theme */
  /*background-color: #555555; !* Darktheme *!*/
  /*color:white; !* Darktheme *!*/
}
body{
  margin: 0;
}
/* GRID CSS */
.container {
  padding: 0 50px;
  box-sizing: border-box;
  display: grid;
  width: 100%;
  height: calc(100% - 70px);
  grid-template-areas:
  "table table table table"
  "bubbles bubbles bubbles listbox"
  "kpi kpi kpi kpi"
  ;
  grid-template-columns: 1fr 2fr 4fr 4fr;
  grid-template-rows: 5fr 5fr 3fr;
}

.appbar {
  padding-bottom:10px;
}
.kpi {
  grid-area: kpi;
  text-align:center;
}
.bubbles {
  grid-area: bubbles;

  box-sizing: border-box;
}

.table {
  grid-area: table;
  text-align: center;
  overflow: hidden;
}

.listbox {
  grid-area: listbox;
  position: relative;
  overflow: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px;
}


.listbox .listbox_cnt {
  width: 1100px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;

  /*left: calc(calc(100% - 250px * 2.5) - calc(250px * 2));*/
  left: 0;
  left:0;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.scrollArea {
  width:40px;
  margin-left:-20px;
  opacity:0.5;
  position:absolute;
  height:100%;
  z-index: 1;
}

list-box{
  margin: 10px;
}

.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:5px;
  border-radius: 3px;
  border: 1px solid #000;
  background: #fff;
  opacity: .9;
  color: black;
  padding: 10px;
  width: 220px;
  font-size: 12px;
  z-index: 10;
}

.tooltip .title {
  font-size: 14px;
  padding-bottom: 6px;
  font-weight: bold;
}

.tooltip .name {
  font-weight: bold;
}

kpi-comp{
  display:inline-grid;
  padding: 0 50px;
}

