html, body{
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color:black;
  overflow: hidden;
}
body{
  margin: 0;
}
.codesw{
  display: inline;
}
/* GRID CSS */
.container {
  position: relative;
  padding: 0 50px;
  padding-top: 10px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 61px);
}

.container .vis_view, .container .code_view{
  position:absolute;
  top: 0px;
  left:0px;
  width:100%;
  height:100%;
  transition:opacity .5s ease-in;
}
.container .vis_view{
  display: grid;
  grid-template-areas:
  "table table table table"
  "bubbles bubbles bubbles listbox"
  "kpi kpi kpi kpi"
  ;
  grid-template-columns: 1fr 2fr 4fr 4fr;
  grid-template-rows: 5fr 5fr 3fr;
  opacity: 1;
}
.container .vis_view.fadeout{
  opacity: 0.3;
}
.container .code_view{
  opacity: 0;
  z-index: -1;
  background-color: black;
}
.container .code_view.fadein{
  opacity: 0.8;
  z-index: 1;
}
.kpi {
  grid-area: kpi;
  text-align:center;
}
.bubbles {
  grid-area: bubbles;

  box-sizing: border-box;
}

.table {
  grid-area: table;
  text-align: center;
  overflow: hidden;
}

.listbox {
  grid-area: listbox;
  position: relative;
  overflow: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px;
}


.listbox .listbox_cnt {
  width: 1500px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;

  /*left: calc(calc(100% - 250px * 2.5) - calc(250px * 2));*/
  left: 0;
  left:0;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.scrollArea {
  width:40px;
  margin-left:-20px;
  opacity:0.9;
  position:absolute;
  height:100%;
  z-index: 1;
}

list-box{
  margin: 10px;
}

.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:5px;
  border-radius: 3px;
  border: 1px solid #000;
  background: #fff;
  opacity: .9;
  color: black;
  padding: 10px;
  width: 220px;
  font-size: 12px;
  z-index: 9999999; /* Higher than IntroJS */
}

.tooltip .title {
  font-size: 14px;
  padding-bottom: 6px;
  font-weight: bold;
}

.tooltip .name {
  font-weight: bold;
}

kpi-comp{
  display:inline-grid;
  padding: 0 50px;
}

.introjs-tooltip {
  padding:50px 50px 20px 50px !important;
  font-size: 15px;
  border-radius: 0 0 50px 0 !important;
  background:white;
  background: linear-gradient(to left, rgba(59, 206, 172, 0.75) 8px, rgba(238, 65, 75, 0.75) 8px, rgba(238, 65, 75, 0.75) 16px, rgba(255, 210, 63, 0.75) 16px,  rgba(255, 210, 63, 0.75) 24px, white 24px);
}

.introjs-tooltiptext {
  font-size: 20px;
}

.nowrap {
  white-space: nowrap;
}

.customDefault .introjs-button {
  background:white;
  border: none;
  border-radius: 0;
  text-shadow:none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.introjs-bullets ul {
  display:none !important;
}


.introjs-progress {
  margin-top: 40px !important;
  border-radius: 50px 0 50px 0 !important;
}

.introjs-skipbutton {
  float:left;
}

.introjs-progressbar {
  background-color: #999 !important;
}

.customDefault .introjs-button:hover {
  background:rgb(245, 245, 245);
  box-shadow: none;
  user-select:none;
}

.customDefault .introjs-button:focus {
  background-image: none;
}


.introjs-helperNumberLayer{
  background:white !important;
  color:black !important;
}

.introListbox {
  padding: 0 2px;
  color:white;
}
