.app-bar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.562);
  padding: 0.5rem;
  box-sizing: border-box;
}

.app-bar .left,
.app-bar .middle,
.app-bar .right {
  display: flex;
  align-items: center;
  width: 33vw;
}

.app-bar .left img {
  height: 100%;
}

.app-bar .middle {
  font-size: 3rem;
  justify-content: center;
}

.app-bar .right {
  font-size: 2rem;
  justify-content: flex-end;
}

.app-bar .right li {
  margin: 0 1rem;
  cursor: pointer;
}