.app-bar {
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.562);
    justify-content: space-between;
    box-sizing: border-box;
}
.app-title {
    font-size: 20px;
}
.icon {
    height: 45px;
    margin-left: 50px;
}
.buttons {
    margin-right: 50px;
    height: 100%;
}

select {
  margin-right: 10px;
  padding: 2px 25px 0px 25px;
  color: rgb(128, 119, 119);
  font-size: 13px;
  border: 1px solid rgb(253, 253, 253);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(src/assets/burg.png) -5px / 35% no-repeat rgb(255, 255, 255);
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0 10 0 10;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 100%;
    font-size: 13px;
    margin-left: 10px;
    text-transform: uppercase;
}

button:hover {
    background-color: rgb(245, 245, 245);
}
