.gauge {
  width: 15vw;
  font-size: 2rem;
  height: 100%;
  overflow: auto;
  flex-grow: 1;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gauge circle {
  transition: stroke-dashoffset 1.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.gauge textarea {
  width: 100%;
  font-family: monospace;
  border: 0;
  text-align: center;
}