.highlightText {
  opacity: 1 !important;
  /*animation: highlight 0.3s normal;*/
  /*color:red !important;*/
}

@keyframes highlight {
  0% {font-size: 16px}
  50% {font-size: 17px}
  100% {font-size: 16px}
}

.textArea {
  margin-top:10px;
  width:180px;
  padding:5px;
}
