:host{
  border: 1px solid #666666;
  margin: 5px 0;
  border-radius: 4px;
  height: 400px;
  min-width: 150px;
  overflow: hidden;
  display: block;
}
ul{
  overflow-y: auto;
  height: calc(100% - 30px);
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li{
  height: 30px;
  color: #595959;
  line-height: 20px;
  padding: 5px 15px;
  border-bottom: 1px solid #E6E6E6;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: list-item;
}
div.title{
  position: relative;
  padding: 5px 15px;
  color: #595959;
  font-weight: bold;
  display: inline-block;
  width: calc(100% - 35px);
}
/* icons */
.icon{
  cursor: pointer;
  position: absolute;
}
.icon.search{
  top: 6px;
  left: 5px;
  font-size: 20px;
  transform: rotate(45deg);
}
.icon.cancel{
  right:4px;
  top:6px;
  font-size: 18px;
  color: #595959;
}
.icon.clear_selections{
  font-size: 16px;
  top: 4px;
  right: 0px;
}

.filter{
  height:40px;
  position:relative;
}
.filter input{
  position:absolute;
  top:0px;
  left:20px;
  width: calc(100% - 32px);
  min-width: 0;
  border: none;
  background: transparent;
  color: inherit;
  font-size: 13px;
  outline: 0;
  flex: 1 1 auto;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  height: 38px;
  box-sizing: border-box;
}
