:host{
  margin: 5px 0;
  height: calc(100% - 20px);
  max-height:700px;
  min-width: 150px;
  overflow: hidden;
  display: block;
  display: inline-block;
  max-width: 250px;
  min-width: 250px;
  position:relative;
}
.header{
  position:absolute;
  width:100%;
  height:70px;
  top:0px;
  background:inherit;
}
ul{
  list-style-type: none;
  height: 100%;
  margin: 70px 0;
  padding: 0;
  overflow-y: auto;
}

ul::-webkit-scrollbar {
  width: 5px !important
}
ul::-webkit-scrollbar-track {
  background: white;
}
ul::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.527);
}
ul::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.527);
}

li{
  height: 20px;
  opacity: 0.8;
  color: #595959;
  line-height: 20px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: list-item;
  text-overflow: ellipsis;
  word-wrap: none;
  text-align:left;
}
li:hover{
  opacity: 1 !important;
}
li.S{
  font-weight:900;
  border-left: 3px solid rgb(127, 227, 117);
}
li.X {
  border-left: 3px solid rgb(127,127,127);
  color: rgba(0,0,0,0.5);
}
li > div{
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
li span.state{
  float:right;
  font-weight:900;
  color: rgb(0,0,0);
  opacity: 1 !important;
  font-size: 10px;
  /*font-style: italic;*/
}
div.title{
  position: relative;
  padding: 5px 0 5px 15px;
  color: #595959;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
/* icons */
.icon{
  cursor: pointer;
  position: absolute;
}
.icon.search{
  top: 6px;
  left: 10px;
  font-size: 20px;
  transform: rotate(45deg);
}
.search_input {
  margin-left:10px;
}
.icon.cancel{
  right:10px;
  top:6px;
  font-size: 18px;
  color: #595959;
}
.icon.clear_selections{
  font-size: 10px;
  top: 8px;
  right: 10px;
}

.filter{
  height:40px;
  position:relative;
}
.filter input{
  position:absolute;
  top:0px;
  left:20px;
  width: calc(100% - 32px);
  min-width: 0;
  border: none;
  background: transparent;
  color: inherit;
  font-size: 13px;
  outline: 0;
  flex: 1 1 auto;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  height: 38px;
  box-sizing: border-box;
}
