:host{
  position:relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

}
div.cp-table{
  /* position:relative; */
  width: 100%;
  height: 100%;
  padding: 0 50px;
}
table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
thead{
  display: block;
  width: calc(100% - 15px);
}
tbody {
  overflow: auto;
  display: block;
  width: 100%;
  height: calc(100% - 35px);
}

th, td {
  padding: .5em 1em;
  text-align: left;
  vertical-align: top;
  border-left: 1px solid #fff;
  width: 25vw;
}
th {
  border-bottom: 1px solid #e6e6e6
}
td {
  opacity: 0.8;
  cursor: pointer;
}
td:hover {
  opacity:1;
  background-color: #e6e6e6;
}
td span.state{
  float:right;
  font-size: 10px;
  font-style: italic;
  margin-top: 6px;
}
/* icons */
.icon{
  opacity: 0.7;
  cursor: pointer;
  font-size: 16px;
}
.icon.back, .icon.forward{
  font-size: 24px;
}
.icon:hover{
  opacity: 1;
}

td.S{
  background-color: #e2e2e2;
  color: #fff;
}

/* tr:nth-child(even){background-color: #f2f2f2} */
nav{
  height: 66px;
  width: 30px;
  border-left: 1px solid #e6e6e6;
  position: absolute;
  top: 0px;
  right: 0;
}
