:host{
  position:relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
div.cp-table{
  width: calc(100% - 5px);
  height: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
thead{
  display: block;
  width: calc(100% - 5px);
}
tbody {
  overflow: auto;
  overflow-y: scroll;
  display: block;
  width: 100%;
  height: calc(100% - 65px);
}

tbody::-webkit-scrollbar {
  width: 5px !important
}
tbody::-webkit-scrollbar-track {
  background: white;
}
tbody::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.527);
}
tbody::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.527);
}

th, td {
  padding: 8px 20px;
  text-align: left;
  vertical-align: top;
  width: 25%;
  font-weight: normal;
  flex: 1 1 auto;
}
tr {
  position: relative;
  width: 100%;
  display: flex;
}
td {
  opacity: 0.8;
  cursor: pointer;
  font-size: 12px;
}
td:hover {
  opacity:1;
  background-color: #e6e6e6;
}
td span.state{
  float:right;
  font-size: 10px;
  font-style: italic;
  margin-top: 1px;
}
/* icons */
.icon{
  opacity: 0.7;
  cursor: pointer;
  font-size: 16px;
}
.icon.back, .icon.forward{
  font-size: 24px;
}
.icon:hover{
  opacity: 1;
}

td.S{
  background-color: #e2e2e2;
  /*color: #fff;*/
}

/* tr:nth-child(even){background-color: #f2f2f2} */
nav{
  height: 66px;
  width: 30px;
  border-left: 1px solid #e6e6e6;
  position: absolute;
  top: 0px;
  right: 0;
}
